
.td4 { height:24px; line-height:20px; background:#EEF7FD; font-size:12px; border:1px solid #fff; color:#135294; padding:2px; }
.td5 { height:24px; line-height:20px; background:#F1F3F5; font-size:12px; border:1px solid #fff; color:#135294; padding:2px; }
